# Data Cleaning Exercise 1

In [15]:
import pandas as pd
import numpy as np

# Question 1

Load the two datasets sales_data.csv and sales_data_extra.csv to two separate dataframes.

In [16]:
df_sales = pd.read_csv('sales_data.csv')
df_sales_extra = pd.read_csv('sales_data_extra.csv')

# Question 2

Combine the two datasets into a dataframe sales.

In [17]:
sales = pd.concat([df_sales, df_sales_extra])

# Question 3`

Data Exploration - Show the following:

first 6 records of the data
data types of data frame
and general statistics

In [18]:
print(sales.head())
print(sales.dtypes)
print(sales.describe())

         Date  Sales  CustomerID    Product  Quantity
0  2021-01-13  362.0          11  Product D         3
1  2021-01-16  147.0           5  Product A         5
2  2021-01-22  227.0           4  Product C         8
3  2021-01-01  231.0           9  Product B         5
4  2021-01-04  456.0          15  Product C         5
Date           object
Sales         float64
CustomerID      int64
Product        object
Quantity        int64
dtype: object
             Sales  CustomerID    Quantity
count    97.000000  105.000000  105.000000
mean    430.175258   10.104762    5.133333
std     667.758627    5.347400    2.410181
min     100.000000    1.000000    1.000000
25%     195.000000    5.000000    3.000000
50%     297.000000   10.000000    5.000000
75%     417.000000   15.000000    7.000000
max    4520.000000   19.000000    9.000000

# Question 4

Show how many nulls are there in each column.

In [19]:
print(sales.isnull().sum())

Date          0
Sales         8
CustomerID    0
Product       0
Quantity      0
dtype: int64

# Question 5

For each column that has missing values fill it in with the median. Print the null count again to ensure they have been filled in.

In [20]:
sales.fillna({"Sales": sales["Sales"].median()}, inplace=True)
print(sales.isnull().sum())

Date          0
Sales         0
CustomerID    0
Product       0
Quantity      0
dtype: int64

# Question 6

The column Date right now has a type of Object. Make sure to convert it to datetime. Also ensure Sales column is float. Print the types again to ensure they've changed.

In [21]:
sales["Date"] = pd.to_datetime(sales["Date"])
sales["Sales"] = sales["Sales"].astype(float)
print(sales.dtypes)

Date          datetime64[ns]
Sales                float64
CustomerID             int64
Product               object
Quantity               int64
dtype: object

# Question 7

Show how many duplicate records there are (if any). If there are remove them.

In [22]:
print(sales.duplicated().sum())
sales.drop_duplicates(inplace=True)

5

# Question 8

Rename the columns so that they are all lowercase.

In [23]:
sales.columns = sales.columns.str.lower()

# Question 9

Calculate the 25% quantile Q1 and the 75% quantile Q3 on sales. Find out the IQR (inter quartile range) by subracting Q1 from Q3. Only keep records that are between the range of Q1-1.5*IQR and Q3+1.5*IQR.

In [24]:
Q1 = sales["sales"].quantile(0.25)
Q3 = sales["sales"].quantile(0.75)
IQR = Q3 - Q1
sales = sales[(sales["sales"] >= (Q1-1.5*IQR)) | (sales["sales"] <= (Q3+1.5*IQR))]

# Question 10

Ensure that one-hot encoding is applied to categorical columns.

In [25]:
sales = pd.get_dummies(sales, columns=["customerid", "product"])
sales.head()

,date,sales,quantity,customerid_1,customerid_2,customerid_3,customerid_4,customerid_5,customerid_6,customerid_7,...,customerid_14,customerid_15,customerid_16,customerid_17,customerid_18,customerid_19,product_Product A,product_Product B,product_Product C,product_Product D
0,2021-01-13,362.0,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2021-01-16,147.0,5,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,2021-01-22,227.0,8,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2021-01-01,231.0,5,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,2021-01-04,456.0,5,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

# Question 11

Create two new columns, one storing the year and another the month (obtained from date).

In [26]:
sales['year'] = sales['date'].dt.year
sales['month'] = sales['date'].dt.month

# Question 12

Normalise sales and quantity columns using MinMaxScaler from sklearn.preprocessing

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
sales[['sales', 'quantity']] = scaler.fit_transform(sales[["sales", "quantity"]])

# Question 13`

Save the modified data to sales_cleaned.csv.

In [28]:
sales.to_csv('sales_cleaned.csv', index=False)